* {
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: #fff7c7; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #fff7c7; /* Gecko Browsers */
}

/*
 * Globals
 */
body {
  padding: 0px;
  color: #72767b;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4;
  line-height: 28px;
}

a {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.35;
  line-height: 18px;
  text-decoration: none;
}

p a {
  text-decoration: underline;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Amiri', Serif;
  font-size: 42px;
  font-weight: 700;
  color: #484d52;
  line-height: 52px;
  letter-spacing: 1.14;
  margin-bottom: 1rem;
}

h2,
h2 a {
  margin-bottom: 1rem;
  color: #484d52;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.85;
  line-height: 36px;
}

h3,
h3 a {
  margin-bottom: 1rem;
  color: #484d52;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.52;
  line-height: 34px;
}

h4,
h4 title{
  text-align: justify;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
  margin-bottom: 2rem;
}

pre,
ul {
  margin-bottom: 20px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

img {
  max-width: 100%;
}

.container{
  display: grid;
  grid-template-columns: [first] 40% [second] 60%;
  top: "10%";
  left: "15%";
}

.item-a{
  grid-template-areas: 1/2;
  justify-self: start;
  align-self: stretch;
}

.item-b {
  grid-template-areas: 2/2;
  justify-self: auto;
  align-self: auto;
}

.homepage-container {
  display: grid;
  grid-template-rows: [borderspacerow] 135px [line-2] 75px [line-1] 75px [line0] 75px [line1] 90px [line2] 48px [line3] 15px [line4] 59px [line5] 113px [endrow];
  grid-template-columns: [borderspacecolumn] 190px [first] 480px [second] 242px [third] 239px [fourth] 261px [endcolumn]; 
  
}

.item-1{
  grid-column-start: first;
  grid-column-end: second;
  grid-row-start: line-2;
  grid-row-end: line-1;
  justify-self: start;
  align-self: center;
}

.item-2{
  grid-column-start: first;
  grid-column-end: second;
  grid-row-start:line-1;
  grid-row-end: line0;
  justify-self: center;
  align-self: center;
}

.item-3{
  grid-column-start: first;
  grid-column-end: third;
  grid-row-start: line0;
  grid-row-end: line1;
  justify-self: end;
  align-self: center;
}

.item-4{
  grid-column-start: first;
  grid-row-end: second;
  grid-row-start: line1;
  grid-row-end: line2;
  justify-self: start;
  align-self: flex-end;
}

.item-5{
  grid-column-start: second;
  grid-column-end: third;
  grid-row-start: line2;
  grid-row-end: line3;
  justify-self: start;
  align-self: end;
}

.item-6{
  grid-column-start: third;
  grid-column-end: fourth;
  grid-row-start: line2;
  grid-row-end: line3;
  justify-self: start;
  align-self: end;
}

.item-7{
  grid-column-start: fourth;
  grid-column-end: endcolumn;
  grid-row-start: line2;
  grid-row-end: line3;
  justify-self: start;
  align-self: end;
}

.item-8{
  grid-column-start: second;
  grid-column-end: endcolumn;
  grid-row-start: line3;
  grid-row-end: line4;
  justify-self: stretch;
  align-self: start;
}

.item-9{
  grid-column-start: second;
  grid-column-end: third;
  grid-row-start: line4;
  grid-row-end: line5;
}

.item-10{
  grid-column-start: third;
  grid-column-end: fourth;
  grid-row-start: line4;
  grid-row-end: line5;
}

.item-11{
  grid-column-start: fourth;
  grid-column-end: endcolumn;
  grid-row-start: line4;
  grid-row-end: line5;
  justify-self: start;
  align-self: center;
}